@page "/collectionscaler"
@using CosmosDBCommandModule.Shared.Models
@inject HttpClient Http

<h1>Collection scaler</h1>

@if (_cosmosDatabases != null)
{
    foreach (var cosmosDatabase in _cosmosDatabases)
    {
        <DatabaseScalerCard CosmosDatabase=@cosmosDatabase></DatabaseScalerCard>
    }
}

@if (_loading)
{
    <div style="display: inline-block;" class="alert alert-info" role="alert">
        Loading databases...
    </div>
}

@if (_cosmosDatabases != null && _cosmosDatabases.Count == 0)
{
    <div style="display: inline-block;" class="alert alert-warning" role="alert">
        No databases detected.
    </div>
}

@functions
{

private List<CosmosDatabase> _cosmosDatabases;
private bool _loading = true;

protected override async Task OnInitAsync()
{
    _cosmosDatabases = await Http.GetJsonAsync<List<CosmosDatabase>>($"api/databases?withCollections=true&withOffers=true");
    _loading = false;
}

}